<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>CURREN STORED RESOURCES:</h1>
  <% resources.forEach(resource => { %>
    <p><%= resource %> </p>
  <% }); %> 
  <a href="/">RETURN</a>
</main>

<%- include('../partials/footer') %>